Repository a3510377/Arduino-HC595, changes with the labels that .github/labeler.yml gives for each.
All labels: source, example, docs

fix arduino lib keywords config
  keywords.txt
Labels: none

fix lib name
  README.md
  examples/GeneralDemo/GeneralDemo.ino
  examples/SimplifiedUse/SimplifiedUse.ino
  examples/ToggleAll/ToggleAll.ino
  keywords.txt
  library.json
  library.properties
  src/MKHC595.cpp
  src/MKHC595.h
  src/MKHC595.hpp
  src/MK_HC595.cpp
Labels: source, example, docs

Update library.properties
  library.properties
Labels: none

fix for https://github.com/arduino/library-registry/pull/4697#issuecomment-2184280695
  library.properties
Labels: none

Update library.properties
  library.properties
Labels: none

fix: move-function-no-update
  src/MKHC595.hpp
Labels: source

feat: update version
  library.properties
Labels: none

.github/labeler.yml:

source:
  - src/**

example:
  - examples/**

docs:
  - docs/**
  - README.md
